<body style="background: #001a33">
    <div class="login-lightgray">
        <div class="form-container">
            <!-- <div class="oval-container">
                <div class="oval-image"></div>
            </div>
            -->
            <h1 class="form-title">
                <!-- <span class="oval-icon"></span> -->
                <div class="oval-image">
                    <span class="oval-container"><img src="assets/eLibraryImage.png" alt="E-Library Image"></span></div>
                E-Library  <br><br><br><p style="font-size:large" class="powered-by">Powered by Capgemini</p>
            </h1>
          <br><br>
          <form>
           <div><h2>You have successfully Logged out, Thank You!</h2></div>
         
            <div class="form-group "><button class="btn btn-primary btn-lg"><a routerLink="/signin">Go Back To Login</a></button></div>
        </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>