 <!-- <app-signin></app-signin>

<div *ngIf="!isSignInPage" >
    <div class="navbar">
        <a routerLink="/account">My Account</a>
        <a routerLink="/logout">Logout</a>
      </div>
    <div class="sidenav">
        <ul>
          <li><a routerLink="/dashboard">My Dashboard</a></li>
          <li><a routerLink="/surf">Surf Ebooks</a></li>
          <li><a routerLink="/quiz">Take Quiz</a></li>
        </ul>
      </div>
</div> -->
  <!-- <router-outlet></router-outlet>
  <app-signin></app-signin> 
   -->
   <router-outlet></router-outlet>
   
    <!-- <app-signin></app-signin> Display the signup page if not logged in
  -->