<body>
    
<div class="container">
    <div class="row">
      <div class="box">
        <h3>Total Points</h3>
        <div class="side_by_side">
         <p style="margin-top: 27px;">Points Scored By  Subscriptions</p>
         <p class="Rounded_Circle">200</p>
        </div>
        
      </div>
      <div class="box">
        <h3>Books Subscribed </h3>
        <div class="side_by_side">
         <p style="margin-top: 27px; margin-right: 20px;">Number of books<br> read </p>
         <p class="Rounded_Circle_blue">2<span></span></p>
        </div>
      </div>
      <div class="box">
        <h3>Active Subscriptions </h3>
        <div class="side_by_side">
         <p style="margin-top: 27px; margin-right: 20px;">Number of books<br> Currently reading </p>
         <p class="Rounded_Circle_green">1<span></span></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="box_1">
        <h3>Active Subscriptions </h3>
        <table>
            <tr>
              <th>Name</th>
              <th>Points</th>
            </tr>
            <tr>
              <td>Tanmay Sant</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Biswajit Mishra</td>
              <td>85</td>
            </tr>
            <tr>
              <td>Ankur Sharma</td>
              <td>72</td>
            </tr>
            <tr>
              <td>Preeti Pathak</td>
              <td>94</td>
            </tr>
            <tr>
              <td>Milan Banerjee</td>
              <td>120</td>
            </tr>
          </table>
      </div>
      <div class="box_1">
        <h3>Trend Chart</h3>
        <div class="side">
            <div class="category-label">
              <div class="square scifi"></div>
              Sci-Fi
          </div>
          <div class="category-label">
              <div class="square novels"></div>
              Novels 
          </div>
          <div class="category-label">
              <div class="square technical"></div>
              Technical 
          </div>
          <div class="category-label">
              <div class="square history"></div>
              History 
          </div>
          <div class="category-label">
              <div class="square general"></div>
              General 
          </div>
          <div class="category-label">
              <div class="square other"></div>
              Other 
          </div>
          </div>
        <div class="pie-chart">
          
          <div class="piechart_container">
          <div class="pie_chart">
          <div class="slice scifi"><div class="label"></div></div>
          <div class="slice novels"><div class="label"></div></div>
          <div class="slice technical"><div class="label"></div></div>
          <div class="slice history"><div class="label"></div></div>
          <div class="slice general"><div class="label"></div></div>
          <div class="slice other"><div class="label"></div></div>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>   
</body>